{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Login</h2>

            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        Login
                    </button>
                        <a class="forgot-password" href="{% url 'recipemaster.views.password_reset' %}"> Forgot password?</a>
                {% endbuttons %}
            </form>
             <div class="text-center signup">
                <p style="font-weight: bold;"><a href="{% url 'registration' %}">Sign up</a></p>
             </div>
        </div>
    </div>
{% endblock %}
