<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'recipes/style.css' %}"/>
    <title>Recipemaster</title>
</head>

<body>
<div class="container-fluid">

    <div class="row">
        <div class="header col-xs-12">
             <h1>Recipemaster</h1>
            <div class="lead">
                – collect all your recipes!
            </div>
        </div>

    </div>


    <div id="content" class="content">
    {% block content %}

    {% endblock %}
    </div>
</div>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
