.header {
    height: 400px;
    background-image: url("images/special-min.jpg");
    background-size: cover;
    background-position: center 30%;
    background-repeat: no-repeat;
}
.header h1 {
    font-size: 3.5em;
    margin-bottom: 2px;

}
.header .lead {
    padding-left: 40px;
    font-size: 1.5em;
    color: black;
}
.content {
    margin-top: 1em;
}
.recipe-list li {
    margin-top: 1.0em;
    border-bottom: 2px dashed silver;
    padding-bottom: 0.3em;
}
.recipe-list li a.title {
    color: #444444;
    font-size: 2em;
}

.recipe-list li form {
    display: inline-block;

}

.recipe-list .admin-buttons {
    display: inline-block;
    margin-left: 3px;

}

.recipe-list .admin-buttons a {
    margin-left: 3px;
     color: #444444;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.glyphicon.glyphicon-plus{
    color: #444444;
    padding-top: 3.2px;
}



