.header {
    height: 400px;
    background-image: url("images/special.jpg");
    background-size: cover;
    background-position: center 30%;
    background-repeat: no-repeat;
}
li a {
    color: black;
}



