{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>My collections <a href="{% url 'recipes:add_collection' %}"><span
                    class="glyphicon glyphicon-plus"></span></a></h2>
            {% if collections %}
                <ul class="recipe-list list-unstyled">
                    {% for collection in collections %}
                        <li>
                            <a href="{% url 'recipes:view_collection' collection.id %}"
                               class="title">{{ collection.title }}</a>
                                <div class="admin-buttons">
                                    <a href="{% url 'recipes:edit_collection' collection.id %}"><span
                                            class="glyphicon glyphicon-pencil"></span></a>

                                    <form id="delete-{{ collection.id }}"
                                          action="{% url 'recipes:delete_collection' collection.id %}"
                                          method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="delete" value="yes"/>
                                        <a href="javascript:;"
                                           onclick="document.getElementById('delete-{{ collection.id }}').submit();">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                    </form>
                                    <a href="{% url 'recipes:add_user_to_collection' collection.id%}"><span class="glyphicon glyphicon-user"></span></a>
                                </div>

                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>There are no collections yet. Create one <a href="{% url 'recipes:add_collection' %}">here</a>.</p>
            {% endif %}
        </div>

    </div>
{% endblock %}
